table, th, td {
  border: 1px solid black;
  text-align: center;
}

table {
  width: 100%;
}

th {
  font-weight: bold;
  font-size: 14px;
  color: #000;
  text-align: center;
  background-color: #9d9de9;
  color: #fff;
}

.back-link {
  float: left;
  font-size: 16px;
  color: #729fcf;
  margin: 10px 0px;
  margin-left: 25px;
  cursor: pointer;
}

.fixed-mat-paginator {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.filter-container {
  margin-left: 25px;
}

.filter-field {
  margin-right: 5px;
}

.retweet-content-btn {
  padding-left: 30px;
  padding-right: 30px;
  float: right;
  margin: 10px 15px;
  background-color: #248133;
  color: #fff;
}

.message {
  padding-left: 10px;
  padding-right: 10px;
  float: right;
  margin: 10px 15px;
  color: #096;
  font-size: 14px;
  font-weight: bold;
}
