<div class="tweet-list-table-container">
  <div class="header-container">
    <div class="back-link" routerLink="/home">Back</div>
    <h2 style = "text-align:center">
      Tweet List
    </h2>
    <!-- filters form-->
    <div class="filter-container">
      <mat-hint class="filter-title">Filters</mat-hint>
      <form [formGroup]="filterForm" class="filter-form">
        <!-- keyword filter -->
        <mat-form-field class="filter-field">
          <input matInput placeholder="keyword" formControlName="keyword">
        </mat-form-field>
        <!-- keyword filter -->

        <!-- tweetId filter -->
        <mat-form-field class="filter-field">
          <input matInput placeholder="tweetId" formControlName="tweetId">
        </mat-form-field>
        <!-- tweetId filter -->

        <!-- userName filter -->
        <mat-form-field class="filter-field">
          <input matInput placeholder="userName" formControlName="userName">
        </mat-form-field>
        <!-- userName filter -->

        <!-- userScreenName filter -->
        <mat-form-field class="filter-field">
          <input matInput placeholder="userScreenName" formControlName="userScreenName">
        </mat-form-field>
        <!-- userScreenName filter -->

        <!-- originalText filter -->
        <mat-form-field class="filter-field">
          <input matInput placeholder="originalText" formControlName="originalText">
        </mat-form-field>
        <!-- originalText filter -->

        <!-- followerCount filter -->
        <mat-form-field class="filter-field">
          <input matInput [type]="'number'" min="0" placeholder="followerCount" formControlName="followerCount">
        </mat-form-field>
        <!-- followerCount filter -->

        <!-- createdAt filter -->
        <mat-form-field class="filter-field">
          <input matInput [matDatepicker]="picker" placeholder="createdAt" formControlName="createdAt">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <!-- createdAt filter -->
      </form>
    </div>
    <!-- filters form -->

    <!-- Retwit -->
    <button mat-raised-button class="retweet-content-btn" (click)="replyMessage()" [disabled]="!isCheckItem()">Reply</button>
    <!-- Retwit -->

    <span class="message">{{message}}</span>

    <!-- <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[10, 20, 50, 100]" [showFirstLastButtons]="true"
      [length]="totalSize" [pageIndex]="currentPage" (page)="handlePage($event)"
      >
    </mat-paginator> -->

    <!-- user list data -->
    <table mat-table [dataSource]="dataSource" (matSortChange)="sortDataByMatHeader($event)" matSort class="tweet-list-table">
      <!-- check Column -->
      <ng-container matColumnDef="isReply">
        <th *matHeaderCellDef>&emsp;</th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox [(ngModel)]="element.is_check"
            (change)="selectedItem(element)"></mat-checkbox>
        </td>
      </ng-container>
      <!-- check Column -->

      <!-- keyword Column -->
      <ng-container matColumnDef="keyword">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Keyword </th>
        <td mat-cell *matCellDef="let element" class="tweet-data"> {{element.keyword}} </td>
      </ng-container>
      <!-- keyword Column -->

      <!-- tweetId Column -->
      <ng-container matColumnDef="tweetId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Twitter Id </th>
        <td mat-cell *matCellDef="let element" class="tweet-data"> {{element.tweet_id_str}} </td>
      </ng-container>
      <!-- tweetId Column -->

      <!-- userName Column -->
      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> User Name </th>
        <td mat-cell *matCellDef="let element" class="tweet-data"> {{element.user_name}} </td>
      </ng-container>
      <!-- userName Column -->

      <!-- userScreenName Column -->
      <ng-container matColumnDef="userScreenName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> User Screen Name </th>
        <td mat-cell *matCellDef="let element" class="tweet-data"> {{element.user_screen_name}} </td>
      </ng-container>
      <!-- userScreenName Column -->

      <!-- originalText Column -->
      <ng-container matColumnDef="originalText">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Original Text </th>
        <td mat-cell *matCellDef="let element" class="tweet-data"> {{element.original_text}} </td>
      </ng-container>
      <!-- originalText Column -->

      <!-- followerCount Column -->
      <ng-container matColumnDef="followerCount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Followers Count </th>
        <td mat-cell *matCellDef="let element" class="tweet-data"> {{element.followers_count}} </td>
      </ng-container>
      <!-- followerCount Column -->

      <!-- createdAt Column -->
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created At </th>
        <td mat-cell *matCellDef="let element" class="tweet-data"> {{element.tweet_created_at}} </td>
      </ng-container>
      <!-- createdAt Column -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <!-- user list data -->
  </div>
