<div class="tweet-list-table-container">
  <div class="header-container">
    <div style = "text-align:center">
    <h2>
      Twitter HashTag Dashboard
    </h2>

    <!-- search by hashtag -->
    <div style = "text-align:center">
      <!-- search name filter -->
      <div *ngFor="let item of hashtags">
        <p class="tag">{{ item }} <button (click)="deleteTag(item)" mat-raised-button color="accent">X</button></p>
      </div>
      <form [formGroup]="hashTagForm" (ngSubmit)="getHashTag('')">
        <mat-form-field>
          <input matInput placeholder="hashtag" formControlName="hashtag">
        </mat-form-field>
        <!-- <mat-form-field> -->
          <button type="submit" mat-raised-button type="submit" color="primary" style="margin-left: 1rem;" [disabled]="!hashTagForm.valid">Search</button>
        <!-- </mat-form-field> -->
        <!-- <mat-form-field> -->
          <button (click)="saveUser()" mat-raised-button color="primary" style="margin-left: 1rem;" [disabled]="!isCheckItem()">Save</button>
        <!-- </mat-form-field> -->
        <span class="message">{{message}}</span>
        <span class="route-user" routerLink="/user">Goto Tweet List</span>
      </form>
      <!-- search name filter -->
    </div>
    <!-- search by hashtag -->
  </div>

    <!-- twitter hashtag data -->
    <table mat-table [dataSource]="dataSource" matSort class="tweet-list-table">
      <!-- check Column -->
      <ng-container matColumnDef="isSaved">
        <th *matHeaderCellDef>&emsp;</th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox [(ngModel)]="element.is_saved"
            (change)="selectedItem(element)" [disabled]="element.is_saved && !isSelected(element.tweet_id_str)"></mat-checkbox>
        </td>
      </ng-container>
      <!-- check Column -->

      <!-- check Column -->
      <ng-container matColumnDef="keyword">
        <th *matHeaderCellDef> Keyword </th>
        <td mat-cell *matCellDef="let element"> {{element.keyword}} </td>
      </ng-container>
      <!-- check Column -->

      <!-- tweetId Column -->
      <ng-container matColumnDef="tweetId">
        <th *matHeaderCellDef> Twitter Id </th>
        <td mat-cell *matCellDef="let element"> {{element.tweet_id_str}} </td>
      </ng-container>
      <!-- tweetId Column -->

      <!-- userName Column -->
      <ng-container matColumnDef="userName">
        <th *matHeaderCellDef> User Name </th>
        <td mat-cell *matCellDef="let element"> {{element.user_name}} </td>
      </ng-container>
      <!-- userName Column -->

      <!-- userScreenName Column -->
      <ng-container matColumnDef="userScreenName">
        <th *matHeaderCellDef> User Screen Name </th>
        <td mat-cell *matCellDef="let element"> {{element.user_screen_name}} </td>
      </ng-container>
      <!-- userScreenName Column -->

      <!-- originalText Column -->
      <ng-container matColumnDef="originalText">
        <th *matHeaderCellDef> Original Text </th>
        <td mat-cell *matCellDef="let element"> {{element.original_text}} </td>
      </ng-container>
      <!-- originalText Column -->

      <!-- followerCount Column -->
      <ng-container matColumnDef="followerCount">
        <th *matHeaderCellDef> Followers Count </th>
        <td mat-cell *matCellDef="let element"> {{element.followers_count}} </td>
      </ng-container>
      <!-- followerCount Column -->

      <!-- createdAt Column -->
      <ng-container matColumnDef="createdAt">
        <th *matHeaderCellDef> Created At </th>
        <td mat-cell *matCellDef="let element"> {{element.tweet_created_at}} </td>
      </ng-container>
      <!-- createdAt Column -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <!-- twitter hashtag data -->
  </div>
